@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<header>
    <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
        <div class="container">
            <a class="navbar-brand" asp-controller="empresa" asp-action="Index">Logo</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
                    aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarScroll">
                <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-controller="empresa" asp-action="Index">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-controller="empresa" asp-action="AggOfertas">Agregar ofertas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-controller="empresa" asp-action="edit">Editar ofertas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-controller="empresa" asp-action="tips">a</a>
                    </li>
                </ul>
                <a class="btn text-light" href="@Url.Action("editEmpresa", "empresa")"><i class="fa-solid fa-user"></i> @ViewBag.nombre</a>
            </div>
        </div>
    </nav>
</header>
<!--Contenido-->
<!--para agg la oferta-->
<form asp-action="ingresar">
    <h1>Ingresar oferta</h1>

    <div class="col-md-4">
        <label for="tipo_trabajo" class="form-label">tipo_trabajo</label>
        <input type="text" class="form-control" id="tipo_trabajo" name="tipo_trabajo" required>
    </div>
    <div class="col-md-4">
        <label for="experiencia" class="form-label">Experiencia</label>
        <input type="text" class="form-control" id="experiencia" name="experiencia" required>
    </div>
    <div class="col-md-4">
        <label for="salario" class="form-label">Salario</label>
        <input type="text" class="form-control" id="salario" name="salario" required>
    </div>
    <div class="col-md-4">
        <label for="tipo_contrato" class="form-label">Tipo de contrato</label>
        <input type="text" class="form-control" id="tipo_contrato" name="tipo_contrato" required>
    </div>
    <div class="col-md-4">
        <label for="ubicacion" class="form-label">Ubicacion</label>
        <input type="text" class="form-control" id="ubicacion" name="ubicacion" required>
    </div>
    <div class="input-group mb-3">
        <input type="file" name="foto" accept="image/*" />
    </div>
    <button class="btn btn-primary" type="submit">Submit form</button>
</form>
<!--Contenido-->
<footer>
</footer>
