@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@if (ViewBag.foto != null)
{
    <img src="@ViewBag.foto" />

}

<header>
    <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
        <div class="container">
            <a class="navbar-brand" asp-controller="empresa" asp-action="Index">Logo</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
                    aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarScroll">
                <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-controller="empresa" asp-action="Index">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-controller="empresa" asp-action="AggOfertas">Agregar ofertas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-controller="empresa" asp-action="edit">Editar ofertas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-controller="empresa" asp-action="vUsuario">Usuarios</a>
                    </li>
                </ul>
                <a class="btn text-light" href="@Url.Action("editEmpresa", "empresa")"><i class="fa-solid fa-user"></i> @ViewBag.nombre</a>
            </div>
        </div>
    </nav>
</header>
<!--Contenido-->
<!--para agg la oferta-->
<form asp-action="ingresar" method="post" enctype="multipart/form-data">
    <h1>Ingresar oferta</h1>

    <div class="col-md-4">
        <label for="tipo_trabajo" class="form-label">tipo_trabajo</label>
        <input type="text" class="form-control" id="tipo_trabajo" name="tipo_trabajo" required>
    </div>
    <div class="col-md-4">
        <label for="experiencia" class="form-label">Experiencia</label>
        <input type="text" class="form-control" id="experiencia" name="experiencia" required>
    </div>
    <div class="col-md-4">
        <label for="salario" class="form-label">Salario</label>
        <input type="text" class="form-control" id="salario" name="salario" required>
    </div>
    <div class="col-md-4">
        <label for="tipo_contrato" class="form-label">Tipo de contrato</label>
        <input type="text" class="form-control" id="tipo_contrato" name="tipo_contrato" required>
    </div>
    <div class="col-md-4">
        <label for="ubicacion" class="form-label">Ubicacion</label>
        <input type="text" class="form-control" id="ubicacion" name="ubicacion" required>
    </div>
    <div class="col-md-4">
        <label for="foto" class="form-label">Ingrese foto de referencia de oferta</label>
        <input type="file" name="foto" accept="image/*" class="form-control" />
    </div>
    <div class="col-md-4">
        <label for="fecha_publicacion" class="form-label">Fecha de publicación</label>
        <input type="datetime-local" class="form-control" name="fecha_publicacion"/>
    </div>
    <div class="col-md-4">
        <label for="fecha_contratacion" class="form-label">Fecha de contratación</label>
        <input type="datetime-local" name="fecha_contratacion" class="form-control" />
    </div>
    <div class="col-md-4">
        <fieldset>
            <legend>Seleccione el estado del empleo:</legend>

                <div>
                    <input type="radio" id="activo" name="estado" value="1" checked>
                    <label for="activo">Activo</label>
                </div>

                <div>
                <input type="radio" id="inactivo" name="estado" value="0">
                    <label for="inactivo">Inactivo</label>
                </div>
        </fieldset>
    </div>
     <br />
    <div class="col-md-4">
        <label for="tipo_trabajo" class="form-label">Requisitos</label>
        <input type="text" class="form-control" id="requisitos" name="requisitos" required>
    </div>
    <div class="col-md-4">
        <label for="tipo_trabajo" class="form-label">Habilidades</label>
        <input type="text" class="form-control" id="habilidades" name="habilidades" required>
    </div>
    <div class="col-md-4">
        <label for="tipo_trabajo" class="form-label">Rango de edad</label>
        <input type="text" class="form-control" id="rango_edad" name="rango_edad" placeholder="Ejemplo: 21 a 50" required>
    </div>
    <div class="col-md-4">
        <fieldset>
            <legend>Seleccione el nivel académico requerido:</legend>

                <div>
                    <input type="radio" id="9" name="nivel_academico" value="9° grado" checked>
                    <label for="nivel_academico">9° grado</label>
               </div>

                <div>
                    <input type="radio" id="bach" name="nivel_academico" value="Bachillerato">
                    <label for="Bachillerato">Bachiller Graduado</label>
                </div>
            <div>
                <input type="radio" id="uni" name="nivel_academico" value="Graduado universitario">
                <label for="Graduado universitario">Graduado universitario</label>
            </div>
            <div>
                <input type="radio" id="egre" name="nivel_academico" value="Egresado - pendiente de graduación">
                <label for="Bachillerato">Egresado - pendiente de graduación</label>
            </div>
            <div>
                <input type="radio" id="otros" name="nivel_academico" value="Otros">
                <label for="Otros">Otros</label>
            </div>
        </fieldset>
    </div>

    <button class="btn btn-primary" type="submit">Submit form</button>
</form>
<!--Contenido-->
<footer>
</footer>
 