@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<header>
    <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
        <div class="container">
            <a class="navbar-brand" asp-controller="empresa" asp-action="Index">Logo</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
                    aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarScroll">
                <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-controller="empresa" asp-action="Index">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-controller="empresa" asp-action="AggOfertas">Agregar ofertas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-controller="empresa" asp-action="edit">Editar ofertas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-controller="empresa" asp-action="vUsuario">Usuarios</a>
                    </li>
                </ul>
                <a class="btn text-light" href="@Url.Action("editEmpresa", "empresa")"><i class="fa-solid fa-user"></i> @ViewBag.nombre</a>
            </div>
        </div>
    </nav>
</header>
<form>
    <div class="container">
        <section id="datos" class="pt-5">
            <div class="card pt-2 mb-4 ">
                <div class="row m-2">
                    <h3>Información del Usuario :</h3>

                    <div class="container-md-6">
                        <img src=" " class="fluid" alt=" ">
                    </div>

                    <div class="col-sm-6">
                        <label for="nombre" class="form-label">Nombre del Usuario :</label>
                        <input type="text" class="form-control" id="nombre" name="nombre" readonly>
                    </div>

                    <div class="col-sm-6 mb-3">
                        <label for="direccion" class="form-label">Dirección :</label>
                        <textarea class="form-control" id="direccion" name="direccion" readonly></textarea>
                    </div>

                    <div class="col-sm-6 ">
                        <label for="telefono" class="form-label">Telefono :</label>
                        <input type="text" class="form-control" id="telefono" name="telefono" readonly>
                    </div>

                    <div class="col-sm-6">
                        <label for="correo" class="form-label">Correo :</label>
                        <input type="email" class="form-control" id="correo" name="correo" readonly>
                    </div>
                    <div class="col-sm-6">
                        <label for="direccion" class="form-label">Habilidades :</label>
                        <textarea class="form-control" id="habilidades" name="habilidades" readonly></textarea>
                    </div>
                    <div class="col-sm-6">
                        <label for="direccion" class="form-label">Aptitudes :</label>
                        <textarea class="form-control" id="aptitudes" name="aptitudes" readonly></textarea>
                    </div>
                    <div class="col-sm-6">
                        <label for="direccion" class="form-label">Manejo de Tecnologías :</label>
                        <textarea class="form-control" id="tecnologias" name="tecnologias" readonly></textarea>
                    </div>
                    <div class="col-sm-6 mb-3">
                        <label for="direccion" class="form-label">Titulos :</label>
                        <textarea class="form-control" id="titulos" name="titulos" readonly></textarea>
                    </div>
                    <div class="col-sm-6">
                        <label for="direccion" class="form-label">Trabajos :</label>
                        <textarea class="form-control" id="trabajos" name="trabajos" readonly></textarea>
                    </div>
                    <div class="col-sm-6">
                        <label for="direccion" class="form-label">Cursos :</label>
                        <textarea class="form-control" id="cursos" name="cursos" readonly></textarea>
                    </div>
                </div>
            </div>
        </section>
    </div>
</form>

<footer>
</footer>
