@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<header>
    <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
        <div class="container">
            <a class="navbar-brand" asp-controller="empresa" asp-action="Index">Logo</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
                    aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarScroll">
                <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-controller="empresa" asp-action="Index">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-controller="empresa" asp-action="AggOfertas">Agregar ofertas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-controller="empresa" asp-action="edit">Editar ofertas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-controller="empresa" asp-action="vUsuario">Usuarios</a>
                    </li>
                </ul>
                <a class="btn text-light" href="@Url.Action("editEmpresa", "empresa")"><i class="fa-solid fa-user"></i> @ViewBag.nombre</a>
            </div>
        </div>
    </nav>
</header>
<!--Contenido-->
<div class="container pt-4">
    <div class="card">
        <h3 class="card-header">Nombre de Usuario :</h3>
        <div class="row">
            <div class="col-3 col-lg-5">
                <img src="..." class="img-fluid" alt="...">
            </div>
            <div class="col-9 col-lg-7 b-3">
                <h4>Titulos: </h4>
                <h4>Trabajos: </h4>
                <h4>Habilidades: </h4>
            </div>

            <div class="pt-2 mb-2 col sm-2 text-center">
                <a type="button" class="btn btn-primary" asp-controller="login" asp-action="Index">Ver detalles</a>
            </div>

        </div>
    </div>
</div>
<footer>
</footer>