@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<header>
    <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
        <div class="container">
            <button class="btn btn-dark" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions"
                    aria-controls="offcanvasWithBothOptions">
                <i class="fa-solid fa-sliders"></i>
            </button>
            <a class="navbar-brand" asp-controller="Usuario" asp-action="Index">Logo</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
                    aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarScroll">
                <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-controller="Usuario" asp-action="Index">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-controller="Usuario" asp-action="Oferta">Ofertas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-controller="Usuario" asp-action="tips">Recursos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-controller="Usuario" asp-action="vEmpresas">Empresas</a>
                    </li>
                </ul>
                <form class="d-flex" role="search" asp-action="Buscar">
                    <input class="form-control me-2" type="text" placeholder="Buscar trabajo" aria-label="Search" name="nombre">
                    <button class="btn btn-outline-success" type="submit">Buscar</button>
                </form>
                <a class="btn text-light" href="@Url.Action("editUsuario", "usuario")"><i class="fa-solid fa-user"></i> @ViewBag.nombre</a>
            </div>
        </div>
    </nav>
</header>
<!--offcanvas-->
<div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions"
     aria-labelledby="offcanvasWithBothOptionsLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Busqueda en base a parametros</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <form asp-controller="oferta" asp-action="BuscarParametro">
            <h6>Experiencia</h6>
            <div class="btn-group-vertical" role="group" aria-label="Vertical radio toggle button group">
                <input type="radio" class="btn-check" name="experiencia" id="vbtn-radioE1" autocomplete="off" value="1" checked>
                <label class="btn btn-outline-danger" for="vbtn-radioE1">Sin experiencia</label>

                <input type="radio" class="btn-check" name="experiencia" id="vbtn-radio2E" autocomplete="off" value="2">
                <label class="btn btn-outline-danger" for="vbtn-radio2E">1 año a más</label>
            </div>

            <h6>Salario</h6>
            <div class="btn-group-vertical" role="group" aria-label="Vertical radio toggle button group">
                <input type="radio" class="btn-check" name="salario" id="vbtn-radio1" autocomplete="off" value="1" checked>
                <label class="btn btn-outline-danger" for="vbtn-radio1">$500</label>

                <input type="radio" class="btn-check" name="salario" id="vbtn-radio2" autocomplete="off" value="2">
                <label class="btn btn-outline-danger" for="vbtn-radio2">$700</label>

                <input type="radio" class="btn-check" name="salario" id="vbtn-radio3" autocomplete="off" value="3">
                <label class="btn btn-outline-danger" for="vbtn-radio3">$1000 y más</label>
            </div>
            <br />
            <button class="btn btn-outline-success mt-3" type="submit">Buscar</button>
        </form>
    </div>
</div>
<!--offcanvas-->
<!--contenido-->
<div class="container">
    <h3 class="pt-4">Edita la información de tu perfil</h3>

    <div class="pt-4 row">

        <div class="col-sm-4">
            <img src="./user.png" alt="" width="200" height="200">
        </div>

        <div class="col-sm-4 pt-2">
            <h3>Nombre</h3>
            <p>datos actuales:</p>
            <ul>
                <li>Puesto: Gerente de ventas.</li>
                <li>Ubicacion: San salvador.</li>
                <li>Empresa: X.</li>
            </ul>
        </div>

        <div class="col-sm-2 pt-5">
            <button type="button" class="btn btn-primary">Guardar Información</button>
        </div>
        <div class="col-sm-2 pt-5">
            <a class="btn btn-danger" asp-controller="Home" asp-action="index">Cerrar sesion</a>
        </div>

    </div>
    <!--from pendiente-->
    <form asp-controller="usuario" asp-action="editusuario  ">
        <section id="datos" class="pt-5">
            <div class="card border-primary pt-2 mb-4 ">
                <div class="row m-2">
                    <h3>Información obligatoria</h3>
                    <div class="col-sm-6">
                        <label for="nombre" class="form-label">Igresar Nombre</label>
                        <input type="text" class="form-control" id="nombre" name="nombre">
                    </div>

                    <div class="col-sm-6 mb-3">
                        <label for="nombre_usuario" class="form-label">Nuevo nombre usuario</label>
                        <input type="text" class="form-control" id="nombre_usuario" name="nombre_usuario">
                    </div>

                    <div class="col-sm-6 mb-3">
                        <label for="direccion" class="form-label">Dirección</label>
                        <textarea class="form-control" id="direccion" name="direccion"
                                  placeholder="Ingrese su dirección"></textarea>
                    </div>

                    <div class="col-sm-6 ">
                        <label for="telefono" class="form-label">Telefono</label>
                        <input type="text" class="form-control" id="telefono" name="telefono">
                    </div>

                    <div class="col-sm-4">
                        <label for="correo" class="form-label">Correo</label>
                        <input type="email" class="form-control" id="correo" name="correo">
                    </div>

                    <div class="col-sm-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" id="password" name="password">
                    </div>

                    <div class="b-2 col-md-5">
                        <div class="input-group mb-3">
                            <label for="fotografia" class="form-label">Suba su fotografía</label>
                            <input type="file" name="foto" accept="image/*" />
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <section>
            <div class="card border-primary pt-2 mb-4 ">
                <div class="row m-2">
                    <h3>Agrega información complementaria.</h3>
                    <div class="col-sm-6">
                        <label for="direccion" class="form-label">Habilidades</label>
                        <textarea class="form-control" id="habilidades" name="habilidades" placeholder="Describa sus habilidades"></textarea>
                    </div>
                    <div class="col-sm-6">
                        <label for="direccion" class="form-label">aptitudes</label>
                        <textarea class="form-control" id="aptitudes" name="aptitudes" placeholder="Describa sus habilidades"></textarea>
                    </div>
                    <div class="col-sm-6">
                        <label for="direccion" class="form-label">Tecnologías utilzadas</label>
                        <textarea class="form-control" id="tecnologias" name="tecnologias" placeholder="Ingrese sus tecnologías"></textarea>
                    </div>
                    <div class="col-sm-6 mb-3">
                        <label for="direccion" class="form-label">Titulos reconocidos</label>
                        <textarea class="form-control" id="titulos" name="titulos" placeholder="Ingrese sus reconocimientos"></textarea>
                    </div>
                    <div class="col-sm-6">
                        <label for="direccion" class="form-label">Historial de trabajos</label>
                        <textarea class="form-control" id="trabajos" name="trabajos" placeholder="Nombre sus trabajos anteriores"></textarea>
                    </div>
                    <div class="col-sm-6">
                        <label for="direccion" class="form-label">Historial de cursos</label>
                        <textarea class="form-control" id="cursos" name="cursos" placeholder="Nombre sus cursos vigentes"></textarea>
                    </div>
                </div>
            </div>
        </section>
        <p class="text-center"><button type="submit" class="btn btn-warning">Modificar</button></p>
    </form>
</div>
<!--contenido-->
<footer>
</footer>